#include "corne.dtsi"
#include <dt-bindings/zmk/rgb.h>

/ {
    led_strip: led_strip {
        compatible = "ws2812-gpio";
        chain-length = <36>;
        color-mapping = <WS2812_COLOR_ORDER_GRB>;
        gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
    };
};
